

<section class="section">


<div class="columns">


<div class="column is-6">
  {{#get "posts" include="tags" limit="2" filter="featured:true"}}
  
  {{#foreach posts}}
<!-- !!! -->

<div class="banner columns is-vcentered" data-aos="fade-up" data-aos-delay="{{@number}}00" data-aos-offset="0">
        <div class="column has-text-centered">
          <div class="banner-img" style="--banner-color: var(--{{slug}})">
            <div class="img-bg">
              <a href="{{url}}">  <img src="{{feature_image}}" alt=""></a>
            </div>
          </div>
          <div class="banner-tag" >
          <p><span>{{tags limit="1"}}</span></p>
          </div>
          </div>

        <div class="column  banner-txt">
          <h2>{{title}}</h2>

          <p class="reading-time"><b>{{reading_time}}</b></p>

          <a href="{{url}}">Read more</a>
        </div>
          </div>
            </div>
            {{/foreach}}
            {{/get}}
</div>




<!-- !!! -->




<div class="columns is-mobile is-centered port-cta">

    <a class="button is-outlined" href="/portfolio">See the full portfolio →</a>

</div>

 
</section>

