{{!< default}}


{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}



<section class="hero" data-aos="fade-up" style="--banner-color: var(--{{slug}})">
<div class="container post-banner">

    <div class="columns is-vcentered " data-aos="fade-up" data-aos-delay="{{@number}}00" data-aos-offset="0">
      <div class="column is-half has-text-centered">
      <div class="banner-img">
        <div class="img-bg">
        <img src="{{feature_image}}" alt="">
        </div>
      </div>

      </div>

    <div class="column is-4 is-offset-1 banner-txt">
      <div class="banner-tag" >
      <p><span>{{tags limit="1"}}</span></p>
      </div>

      <h1 class="title">{{title}}</h1>
      <p class="reading-time"><b>{{reading_time}}</b></p>
      <p>{{excerpt}}</p>

      <a href="#tldr">Read the TLDR</a>

    </div>

  </div>
</div>

</section>

<section>
  <div class="container post-content content">
    <div class="columns">

    <div class="column is-10 is-offset-1" data-aos="fade-up" data-aos-delay="100" data-aos-offset="0" style="--banner-color: var(--{{slug}})">
    {{content}}
  </div>
  </div>
</section>





{{!-- Links to Previous/Next posts --}}
<section class="content">
  <div class="container">

    <div class="container has-text-centered">
      <h2 data-aos="fade-up" data-aos-delay="100" data-aos-offset="0">
        Read this next
      </h2>
    </div>

<div class="columns">

<div class="column is-6">
<div class="banner columns is-vcentered" data-aos="fade-up" data-aos-delay="{{@number}}00" data-aos-offset="0">

{{#next_post}}
        <div class="column has-text-centered">
          <div class="banner-img" style="--banner-color: var(--{{slug}})">
            <div class="img-bg">
              <a href="{{url}}">  <img src="{{feature_image}}" alt=""></a>
            </div>
          </div>
          <div class="banner-tag" >
          <p><span>{{tags limit="1"}}</span></p>
          </div>
          </div>

        <div class="column  banner-txt">
          <h2>{{title}}</h2>
          <p class="reading-time"><b>{{reading_time}}</b></p>
          <p class="excerpt">{{excerpt}}</p>
          <a href="{{url}}">Read more</button></a>
        </div>
          {{/next_post}}
          </div>
            </div>


<div class="column is-6 ">
<div class="banner columns is-vcentered" data-aos="fade-up" data-aos-delay="{{@number}}00" data-aos-offset="0">

{{#prev_post}}
        <div class="column has-text-centered">
          <div class="banner-img" style="--banner-color: var(--{{slug}})">
            <div class="img-bg">
              <a href="{{url}}">  <img src="{{feature_image}}" alt=""></a>
            </div>
          </div>
          <div class="banner-tag" >
          <p><span>{{tags limit="1"}}</span></p>
          </div>
          </div>

        <div class="column  banner-txt">

          <h2>{{title}}</h2>
          <p class="reading-time"><b>{{reading_time}}</b></p>
          <p class="excerpt">{{excerpt}}</p>
          <a href="{{url}}">Read more</button></a>
        </div>
          {{/prev_post}}
          </div>
            </div>
</div>

          </section>
{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>

// NOTE: Scroll performance is poor in Safari
// - this appears to be due to the events firing much more slowly in Safari.
//   Dropping the scroll event and using only a raf loop results in smoother
//   scrolling but continuous processing even when not scrolling
$(document).ready(function () {
    // Start fitVids
    var $postContent = $(".post-full-content");
    $postContent.fitVids();
    // End fitVids

    var progressBar = document.querySelector('#reading-progress');
    var header = document.querySelector('.floating-header');
    var title = document.querySelector('.post-full-title');

    var lastScrollY = window.scrollY;
    var lastWindowHeight = window.innerHeight;
    var lastDocumentHeight = $(document).height();
    var ticking = false;

    function onScroll() {
        lastScrollY = window.scrollY;
        requestTick();
    }

    function onResize() {
        lastWindowHeight = window.innerHeight;
        lastDocumentHeight = $(document).height();
        requestTick();
    }

    function requestTick() {
        if (!ticking) {
            requestAnimationFrame(update);
        }
        ticking = true;
    }

    function update() {
        var trigger = title.getBoundingClientRect().top + window.scrollY;
        var triggerOffset = title.offsetHeight + 35;
        var progressMax = lastDocumentHeight - lastWindowHeight;

        // show/hide floating header
        if (lastScrollY >= trigger + triggerOffset) {
            header.classList.add('floating-active');
        } else {
            header.classList.remove('floating-active');
        }

        progressBar.setAttribute('max', progressMax);
        progressBar.setAttribute('value', lastScrollY);

        ticking = false;
    }

    window.addEventListener('scroll', onScroll, {passive: true});
    window.addEventListener('resize', onResize, false);

    update();

});
</script>
{{/contentFor}}
