





<div class="banner column is-vcentered is-one-third content" data-aos="fade-up" data-aos-delay="{{@number}}00" data-aos-offset="0">

<div class="column has-text-centered">

  <div class="banner-img" style="--banner-color: var(--{{slug}})">
    <div class="img-bg">
      <a href="{{url}}">  <img src="{{feature_image}}" alt=""></a>
    </div>
  </div>
  <div class="banner-tag" >
  <p><span>{{tags limit="1"}}</span></p>
  </div>
  </div>

<div class="column banner-txt">
  <h2>{{title}}</h2>
  <p class="reading-time"><b>{{reading_time}}</b></p>
  <p class="excerpt">{{excerpt}}</p>
  <a href="{{url}}">Read more</button></a>
</div>


</div>
